/*

     Indholdsfortegnelse:
     - Generelt
     - Topnav
        - Mediaqueries
     - Splash
     - Variables



    - Classes
    - Keyframes
    - Media Querys underpunkt til de forskellige?

*/

/**************************** HER STARTER GENERELT ************************************/

body {
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

iframe {
    width: 100%;
}

img {

    width: 100%;
}

section {
    /*    max-width: 1440px;*/
    margin: 0;
}

.sectionwrapper {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'inter ui';
    src: url('font/inter ui.otf') format('otf'),
        url('font/inter ui.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'inter ui';
    font-size: 12vw;
    margin: 10vw 11vw -6vw 11vw;
    /*    text-transform: uppercase;*/

}


h2 {
    font-family: 'inter ui';
    font-size: 5vw;
    text-transform: uppercase;


}

h3 {
    font-family: 'inter ui';
    font-size: 3vw;
    margin: 6vw 2vw 0 2vw;

}

p {
    font-family: 'inter ui';
    font-size: 0.8rem;
}


#top_button {
    background-image: url(svg/arrow_top.svg);
    background-size: 100%;
    position: fixed;
    border-radius: 50%;
    background-color: #f8f4e7;
    width: 10vw;
    height: 10vw;
    top: 88vh;
    left: 85vw;
    z-index: 2;
}

#splash_button {
    background-image: url(svg/arrow_down.svg);
    background-size: 100%;
    position: absolute;
    width: 6vw;
    height: 6vw;
    top: 45.5vw;
    left: 47vw;
}

.link p {
    padding: 1vw;
    font-style: italic;
}

.date p {
    padding: 0.5vw;
}


a {
    text-decoration: none;

}

a:visited,
a:active,
a:link,
a:hover {
    color: #000000;
}


/************************** FÆLLES FOR TEMAERNE - IMAGE OVERLAY **********************************/


#item_name {
    position: relative;
    width: 100%;
}

.graphics {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    transition: .5s ease;
    background-color: white;
}

#item_name:hover .overlay {
    opacity: 0;
}

.graphics_text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



/************************** FÆLLES FOR TEMAERNE **********************************/

.tema_overview p {
    font-family: 'inter ui';
    font-size: 2vw;
    padding: 3vw 0 2vw 2vw;
}

/*.title {
    border: 1.5vw solid white;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}*/

.title h2 {
    flex-grow: 6;
    flex-basis: 50px;
    text-align: center;
}

video {
    width: 100%;
}

.description {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
}

.column_text {
    flex-grow: 1;
    flex-basis: 235px;
}

.column_text p {
    padding: 0 1vw;
    font-size: 1.8vw;
}

.column_image {
    flex-grow: 1;
    flex-basis: 235px;
}

.gallery {
    flex-wrap: wrap;
    display: flex;
}

#item_name {
    flex-basis: 240px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.date {
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 2vw;
}

.link {
    background-color: white;
    margin: 2vw;
    text-align: center;
    text-transform: uppercase;
}

/****************************** HER STARTER TOPNAV **************************************/

/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    background-color: rgba(255, 182, 193, 0.19);
    overflow: hidden;
    justify-content: space-around;

}



/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "inter ui";
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgba(221, 221, 221, 0.46);
    color: black;
}

/* Add an active class to highlight the current page */
/*.active {
    background-color: rgba(114, 113, 113, 0.4);
    color: blue;
}*/

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

#burgermenu {
    position: absolute;
    top: 53.5vw;
    left: 94vw;
    display: none;
    z-index: 1;

}

/************************ HER STARTER TOPNAV - MEDIAQUERIES ******************************/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav {
        justify-content: flex-start;
    }

    #burgermenu {

        display: block;


    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive {
        position: relative;
        display: block;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/****************************** HER STARTER SPLASH **************************************/

#splash .sectionwrapper {
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 52.05vw;
    margin: 0;
    padding: 0;

}

#splash p {
    font-family: 'inter ui';
    margin: 0;
    font-size: 2vw;
    position: absolute;
    top: 8vw;
    left: 70vw;
}

/*#splash h1 {
    font-family: 'inter ui';
    margin: 0;
    font-size: 10vw;
    position: absolute;
    top: 17vw;
    left: 40vw;
}*/

#box1 {

    height: 6vw;
    width: 22vw;
    background-image: url(sky.jpg);
    background-size: cover;
    background-color: lightblue;
    position: absolute;
    top: 42vw;
    left: -23vw;
}


#box2 {

    height: 12vw;
    width: 83.3vw;
    background-image: url(Sk%C3%A6rmbillede%202019-01-05%20kl.%2000.22.54.png);
    background-size: 100%;
    position: absolute;
    top: 25vw;
    left: 110vw;
}

#box3 {

    height: 8vw;
    width: 33vw;
    transform: skewX(20deg);
    background-image: url(sky.jpg);
    background-size: 100%;
    background-color: lightpink;
    position: absolute;
    top: 6vw;
    left: -35vw;
}

#circle1 {

    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: lightpink;
    position: absolute;
    top: 60vw;
    left: 55vw;

}

#circle2 {

    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-image: url(sky.jpg);
    background-size: 100%;
    background-color: lightpink;
    position: absolute;
    top: 60vw;
    left: 63vw;

}

#circle3 {

    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: lightpink;
    position: absolute;
    top: 60vw;
    left: 71vw;

}





/*#splash_button {
    background-image: url(svg/arrow_down.svg);
    background-size: 100%;
    position: absolute;
    width: 6vw;
    height: 6vw;
    top: 47.6vw;
    left: 47vw;
}*/


#streg {
    background-color: black;
    position: absolute;
    height: 13vw;
    width: 0.1vw;
    top: 16vw;
    left: 35.5vw;
}


#letter1 {
    position: absolute;
    top: 4.5vw;
    left: 25.4vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter2 {
    position: absolute;
    top: 4.5vw;
    left: 32.2vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;

}

#letter3 {
    position: absolute;
    top: 4.5vw;
    left: 38.8vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter4 {
    position: absolute;
    top: 4.5vw;
    left: 44vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter5 {
    position: absolute;
    top: 4.5vw;
    left: 48.5vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter6 {
    position: absolute;
    top: 4.5vw;
    left: 52.3vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter7 {
    position: absolute;
    top: 4.5vw;
    left: 59vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter8 {
    position: absolute;
    top: 4.5vw;
    left: 61.8vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter9 {
    position: absolute;
    top: 4.5vw;
    left: 64.5vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter10 {
    position: absolute;
    top: 4.5vw;
    left: 70.7vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}




/****************************** HER STARTER KEYFRAMES OG CLASSES TIL SPLASH **************************************/

.in_right {
    animation-name: from_right;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

}

@keyframes from_right {
    0% {
        transform: translateX(0vw);
        transform: skewX(20deg);
    }

    100% {
        transform: translateX(-90vw);


    }
}


@keyframes up_and_down_kf {
    0% {
        transform: translateY(0vw)
    }

    25% {
        transform: translateY(1vw)
    }

    50% {
        transform: translateY(0vw)
    }

    75% {
        transform: translateY(1vw)
    }

    100% {
        transform: translateY(0vw)
    }
}

.up_and_down {
    animation: up_and_down_kf 3s 5 ease-in-out;
}

.in_bottom {
    animation-name: going_up;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.in_bottom2 {
    animation: going_up 2s 1 linear 1s forwards;
}

.in_bottom3 {
    animation: going_up 2s 1 linear 2s forwards;
}

.in_left {
    animation: in_left_kf 1s 1 forwards;
}

.in_left_2 {
    animation: in_left_kf 1s 1 1s forwards;
}

@keyframes in_left_kf {
    0% {
        transform: translateX(0vw)
    }

    100% {
        transform: translateX(35vw)
    }
}

@keyframes going_up {

    0% {
        transform: translateY(0vw)
    }

    100% {
        transform: translateY(-20vw)
    }

}


.moving_letters {
    animation-name: moving_letters_kf;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: both;

}

.moving_letters_2 {
    animation: moving_letters_kf 0.2s 1 ease-in both 0.15s
}

.moving_letters_3 {
    animation: moving_letters_kf 0.2s 1 ease-in both 0.3s
}

.moving_letters_4 {
    animation: moving_letters_kf 0.2s 1 ease-in both 0.45s
}

.moving_letters_5 {
    animation: moving_letters_kf 0.2s 1 ease-in both 0.6s
}

.moving_letters_6 {
    animation: moving_letters_kf 0.2s 1 ease-in both 0.75s
}

.moving_letters_7 {
    animation: moving_letters_kf 0.2s 1 ease-in both 0.9s
}

.moving_letters_8 {
    animation: moving_letters_kf 0.2s 1 ease-in both 1.05s
}

.moving_letters_9 {
    animation: moving_letters_kf 0.2s 1 ease-in both 1.2s
}

.moving_letters_10 {
    animation: moving_letters_kf 0.2s 1 ease-in both 1.35s
}

@keyframes moving_letters_kf {

    0% {
        transform: scale(0.6);
        opacity: 0;
    }

    50% {
        transform: scale(0.8);
        opacity: 0.5;

    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes streg_kf {
    0% {
        transform: translateX(0vw);
        opacity: 0;
    }

    80% {
        transform: translateX(55vw);
        opacity: 1;
    }

    97% {
        transform: translateX(55vw);
        opacity: 0;
    }

    99% {
        transform: translateX(55vw);
        opacity: 1;
    }

    99% {
        transform: translateX(55vw);
        opacity: 0;
    }
}

.appear {
    animation: appear_kf 3s 1 ease-in
}

@keyframes appear_kf {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}




.streg_class {
    animation-name: streg_kf;
    animation-duration: 1.6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}








/****************************** HER STARTER TEMA 01 **************************************/


#tema_01 .sectionwrapper {
    background-color: #edc7cd;
    margin: 0 10vw 0vw 10vw;
    padding: 0 0 2vw 0;
}

#animationwrapper_tema_01 {
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 20vw;
    margin: 0;
    padding: 0;

}

#streg_tema_01 {
    background-color: black;
    position: absolute;
    height: 13vw;
    width: 0.2vw;
    top: 12.5vw;
    left: 10.5vw;
}


#letter1_tema_01 {
    position: absolute;
    top: 2vw;
    left: 1vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter2_tema_01 {
    position: absolute;
    top: 2vw;
    left: 7vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;

}

#letter3_tema_01 {
    position: absolute;
    top: 2vw;
    left: 13.5vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter4_tema_01 {
    position: absolute;
    top: 2vw;
    left: 24vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter5_tema_01 {
    position: absolute;
    top: 2vw;
    left: 35vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter6_tema_01 {
    position: absolute;
    top: 2vw;
    left: 42.7vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter7_tema_01 {
    position: absolute;
    top: 2vw;
    left: 47.2vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#tema_01 #item_name {
    position: relative;
}

#tema_01 .title_1 {
    background-image: url(billeder/yayoi_sculpture.jpg);
    background-size: cover;
    width: 40vw;
    height: 48vw;
    top: 0vw;
    flex-basis: 50px;
    flex-grow: 1;

}

/*#tema_01 .button_open_1 {
    position: absolute;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 29vw;
    background-size: cover;
    background-image: url(svg/arrow_down.svg);
    background-color: #f8f4e7;
    cursor: pointer;

}*/

#tema_01 .title_2 {
    background-image: url(billeder/tablet_portrait.jpg);
    background-size: cover;
    width: 40vw;
    height: 48vw;
    top: 0vw;
    flex-basis: 50px;
    flex-grow: 1;

}

#tema_01 .button_open_1 {
    background-size: 500% 100%;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 29vw;
    position: absolute;
    cursor: pointer;
    background-image: url(svg/arrow_sprite_ny.svg);
    background-color: #f8f4e7;


}

#tema_01 .button_open_2 {
    background-size: 500% 100%;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 29vw;
    position: absolute;
    cursor: pointer;
    background-image: url(svg/arrow_sprite_ny.svg);
    background-color: #f8f4e7;

}



/****************************** HER STARTER TEMA 02 **************************************/

#animationwrapper_tema_02 {
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 20vw;
    margin: 0;
    padding: 0;

}

#tema_02 .sectionwrapper {
    background-color: #bedede;
    margin: 0 10vw;
    padding: 0 0 2vw 0;
}

#streg_tema_02 {
    background-color: black;
    position: absolute;
    height: 13vw;
    width: 0.2vw;
    top: 12.5vw;
    left: 10.5vw;
}


#letter1_tema_02 {
    position: absolute;
    top: 2vw;
    left: 1vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter2_tema_02 {
    position: absolute;
    top: 2vw;
    left: 7vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;

}

#letter3_tema_02 {
    position: absolute;
    top: 2vw;
    left: 13.5vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter4_tema_02 {
    position: absolute;
    top: 2vw;
    left: 24vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter5_tema_02 {
    position: absolute;
    top: 2vw;
    left: 35vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter6_tema_02 {
    position: absolute;
    top: 2vw;
    left: 42.7vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter7_tema_02 {
    position: absolute;
    top: 2vw;
    left: 50vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

/****************************** HER SLUTTER TEMA 2 ANIMATION H1 **************************************/


#tema_02 #item_name {
    position: relative;
}

#tema_02 .title_2_1 {
    background-image: url(billeder/Sk%C3%A6rmbillede%202019-01-08%20kl.%2001.32.06.png);
    background-size: cover;
    width: 40vw;
    height: 48vw;
    top: 0vw;
    flex-basis: 50px;
    flex-grow: 1;

}


#tema_02 .title_2_2 {
    background-image: url(billeder/behandlet2.jpg);
    background-size: cover;
    width: 40vw;
    height: 48vw;
    top: 0vw;
    flex-basis: 50px;
    flex-grow: 1;

}

#tema_02 .title_2_3 {
    background-image: url(billeder/behandlet3.jpg);
    background-size: cover;
    width: 40vw;
    height: 48vw;
    top: 0vw;
    flex-basis: 50px;
    flex-grow: 1;

}

#tema_02 .button_open_2_1 {
    background-size: 500% 100%;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 69vw;
    position: absolute;
    cursor: pointer;
    background-image: url(svg/arrow_sprite_ny.svg);
    background-color: #f8f4e7;

}

#tema_02 .button_open_2_2 {
    background-size: 500% 100%;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 29vw;
    position: absolute;
    cursor: pointer;
    background-image: url(svg/arrow_sprite_ny.svg);
    background-color: #f8f4e7;

}

#tema_02 .button_open_2_3 {
    background-size: 500% 100%;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 29vw;
    position: absolute;
    cursor: pointer;
    background-image: url(svg/arrow_sprite_ny.svg);
    background-color: #f8f4e7;

}

/****************************** HER STARTER TEMA 03 **************************************/
#animationwrapper_tema_03 {
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 20vw;
    margin: 0;
    padding: 0;

}


#tema_03 .sectionwrapper {
    background-color: #b45b73;
    margin: 0 10vw;
    padding: 0 0 2vw 0;
}

#streg_tema_03 {
    background-color: black;
    position: absolute;
    height: 13vw;
    width: 0.2vw;
    top: 12.5vw;
    left: 10.5vw;
}


#letter1_tema_03 {
    position: absolute;
    top: 2vw;
    left: 1vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter2_tema_03 {
    position: absolute;
    top: 2vw;
    left: 7vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;

}

#letter3_tema_03 {
    position: absolute;
    top: 2vw;
    left: 13.5vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter4_tema_03 {
    position: absolute;
    top: 2vw;
    left: 24vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter5_tema_03 {
    position: absolute;
    top: 2vw;
    left: 35vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter6_tema_03 {
    position: absolute;
    top: 2vw;
    left: 42.7vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter7_tema_03 {
    position: absolute;
    top: 2vw;
    left: 50vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

/****************************** HER SLUTTER TEMA 3 ANIMATION H1 **************************************/

#tema_03 #item_name {
    position: relative;
}

#tema_03 .title_3_1 {
    background-image: url(billeder/Sk%C3%A6rmbillede%202019-01-08%20kl.%2018.24.28.png);
    background-size: 100%;
    width: 40vw;
    height: 48vw;
    top: 0vw;
    flex-basis: 50px;
    flex-grow: 1;

}


#tema_03 .title_3_2 {
    background-image: url(billeder/Sk%C3%A6rmbillede%202019-01-08%20kl.%2018.26.41.png);
    background-size: cover;
    width: 40vw;
    height: 48vw;
    top: 0vw;
    flex-basis: 50px;
    flex-grow: 1;

}

#tema_03 .title_3_3 {
    background-color: #831a3c;
    background-image: url(billeder/telefon.svg);
    background-size: cover;
    width: 40vw;
    height: 48vw;
    top: 0vw;
    flex-basis: 50px;
    flex-grow: 1;

}

#tema_03 .button_open_3_1 {
    background-size: 500% 100%;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 69vw;
    position: absolute;
    cursor: pointer;
    background-image: url(svg/arrow_sprite_ny.svg);
    background-color: #f8f4e7;

}

#tema_03 .button_open_3_2 {
    background-size: 500% 100%;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 29vw;
    position: absolute;
    cursor: pointer;
    background-image: url(svg/arrow_sprite_ny.svg);
    background-color: #f8f4e7;

}

#tema_03 .button_open_3_3 {
    background-size: 500% 100%;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 29vw;
    position: absolute;
    cursor: pointer;
    background-image: url(svg/arrow_sprite_ny.svg);
    background-color: #f8f4e7;

}




/****************************** HER STARTER TEMA 04 **************************************/

#animationwrapper_tema_04 {
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 20vw;
    margin: 0;
    padding: 0;

}

#tema_04 .sectionwrapper {
    background-color: #e39d9d;
    margin: 0 10vw;
    padding: 0 0 2vw 0;
}

#streg_tema_04 {
    background-color: black;
    position: absolute;
    height: 13vw;
    width: 0.2vw;
    top: 12.5vw;
    left: 10.5vw;
}


#letter1_tema_04 {
    position: absolute;
    top: 2vw;
    left: 1vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter2_tema_04 {
    position: absolute;
    top: 2vw;
    left: 7vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;

}

#letter3_tema_04 {
    position: absolute;
    top: 2vw;
    left: 13.5vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter4_tema_04 {
    position: absolute;
    top: 2vw;
    left: 24vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter5_tema_04 {
    position: absolute;
    top: 2vw;
    left: 35vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter6_tema_04 {
    position: absolute;
    top: 2vw;
    left: 42.7vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter7_tema_04 {
    position: absolute;
    top: 2vw;
    left: 50vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}



/****************************** HER SLUTTER TEMA 4 ANIMATION H1 **************************************/

#tema_04 #item_name {
    position: relative;
}

#tema_04 .title_4_1 {
    background-image: url(billeder/telefon3_5.svg);
    background-size: cover;
    background-color: #89293b;
    width: 40vw;
    height: 48vw;
    top: 0vw;
    flex-basis: 50px;
    flex-grow: 1;

}


#tema_04 .title_4_2 {
    background-image: url(billeder/kea2.svg);
    background-size: cover;
    width: 40vw;
    height: 48vw;
    top: 0vw;
    flex-basis: 50px;
    flex-grow: 1;

}

#tema_04 .title_4_3 {
    background-image: url(billeder/paper.svg);
    background-size: cover;
    width: 40vw;
    height: 48vw;
    top: 0vw;
    flex-basis: 50px;
    flex-grow: 1;

}

#tema_04 .title_4_4 {
    background-image: url(billeder/telefon3_2_1.svg);
    background-size: cover;
    background-color: #89293b;
    width: 40vw;
    height: 48vw;
    top: 0vw;
    flex-basis: 50px;
    flex-grow: 1;

}


#tema_04 .button_open_4_1 {
    background-size: 500% 100%;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 69vw;
    position: absolute;
    cursor: pointer;
    background-image: url(svg/arrow_sprite_ny.svg);
    background-color: #f8f4e7;

}

#tema_04 .button_open_4_2 {
    background-size: 500% 100%;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 29vw;
    position: absolute;
    cursor: pointer;
    background-image: url(svg/arrow_sprite_ny.svg);
    background-color: #f8f4e7;

}

#tema_04 .button_open_4_3 {
    background-size: 500% 100%;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 29vw;
    position: absolute;
    cursor: pointer;
    background-image: url(svg/arrow_sprite_ny.svg);
    background-color: #f8f4e7;

}

#tema_04 .button_open_4_4 {
    background-size: 500% 100%;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 69vw;
    position: absolute;
    cursor: pointer;
    background-image: url(svg/arrow_sprite_ny.svg);
    background-color: #f8f4e7;

}






/****************************** HER STARTER ABOUT **************************************/
#animationwrapper_about {
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 20vw;
    margin: 0;
    padding: 0;

}

#about .sectionwrapper {
    background-color: #add1d9;
    margin: 0 10vw;
    padding: 0;
}

#streg_about {
    background-color: black;
    position: absolute;
    height: 13vw;
    width: 0.2vw;
    top: 12.5vw;
    left: 10.5vw;
}


#letter1_about {
    position: absolute;
    top: 2vw;
    left: 1vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter2_about {
    position: absolute;
    top: 2vw;
    left: 9.5vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;

}

#letter3_about {
    position: absolute;
    top: 2vw;
    left: 16.7vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter4_about {
    position: absolute;
    top: 2vw;
    left: 23.4vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter5_about {
    position: absolute;
    top: 2vw;
    left: 31vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}

#letter6_about {
    position: absolute;
    top: 2vw;
    left: 35vw;
    font-family: 'inter ui';
    margin: 0;
    font-size: 9vw;
}


.container {
    flex-wrap: wrap;
    display: flex;
}

#about p {
    font-family: 'inter ui';
    font-size: 2vw;
    padding: 3vw 0 2vw 2vw;
}

.icons img {
    width: 6vw;
    height: 6vw;
    margin: 0.7vw;
}

.icons {
    margin-left: 3vw;
}


/****************************** HER STARTER FOOTER **************************************/

#footer .sectionwrapper {
    background-color: #add1d9;
    margin: 10vw 10vw 0 10vw;
    padding: 0;
}

#footer p {
    padding: 1vw;
    text-align: center;
}

/***************************** HER STARTER CLASSES ************************************/

/*
.hide {
    display: none;
}
*/

.hide {

    display: none;
}



.button_open_1 {
    background-size: 500% 100%;
    width: 8vw;
    height: 8vw;
    top: 4.1vw;
    left: 29vw;
    position: absolute;
    cursor: pointer;
    background-image: url(svg/arrow_sprite_ny.svg);
    background-color: #f8f4e7;


}

.down {
    animation: on_off_kf 0.4s steps(4) forwards;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}


.top {
    animation: off_on_kf 0.4s steps(4) forwards;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}



@keyframes on_off_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}

@keyframes off_on_kf {
    0% {
        background-position: -400% 0;
    }

    100% {
        background-position: 0 0;
    }
}



/***************************** HER STARTER MEDIA QUERYS ************************************/

@media only screen and (max-width:600px) {

    #tema_01 .button_open_1,
    #tema_01 .button_open_2,
    #tema_02 .button_open_2_2,
    #tema_02 .button_open_2_3,
    #tema_03 .button_open_3_2,
    #tema_03 .button_open_3_3,
    #tema_04 .button_open_4_2,
    #tema_04 .button_open_4_3 {
        left: 69vw;
    }

}
